@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<MVCHomework6.Data.Database.Articles>

@foreach (var item in Model)
{
    <div class="card mt-5">
        <img src="@item.CoverPhoto" class="card-img-top" alt="@item.Title">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@Html.Raw(item.Body)</p>
            <partial name="_TagList" model="item.Tags"></partial>
        </div>
        <div class="card-footer text-muted">
            Posted on @item.CreateDate.ToString("yyyy-MM-dd") by me
        </div>
    </div>
}


<nav class="mt-4">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>