@{
    ViewData["Title"] = "Home Page";
}
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<MVCHomework6.Data.Database.Articles>

@section Head{
    <link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />
}

@foreach (var item in Model)
{
    <div class="card mt-5">
        <img src="@item.CoverPhoto" class="card-img-top" alt="@item.Title">
        <div class="card-body">
            <h5 class="card-title">@item.Title</h5>
            <p class="card-text">@Html.Raw(item.Body)</p>
            <partial name="_TagList" model="item.Tags"></partial>
            @*<tags>@item.Tags</tags>*@
        </div>
        <div class="card-footer text-muted">
            Posted on @item.CreateDate.ToString("yyyy-MM-dd") by me
        </div>
    </div>
}

@Html.PagedListPager( Model, page => Url.Action("Index", new { page }) )